[Unit]
Description=NATS WebSocket Gateway and Server Logger
After=network.target

[Service]
Type=simple
User=nats
Group=nats
WorkingDirectory=/usr/bin
EnvironmentFile=/etc/nats-ws-gateway-and-server/config.env
ExecStart=/usr/bin/nats-ws-gateway-and-server-logger
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
